<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target xsi:type="File" name="logImportant" fileName="${basedir}/logs/important-${shortdate}.log"
              maxArchiveFiles="30" archiveEvery="Day"
              layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}" />
      
      <target xsi:type="File" name="logInfo" fileName="${basedir}/logs/info-${shortdate}.log"
              maxArchiveFiles="10" archiveAboveSize="10000000" archiveEvery="Day"
              layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}" />

      <target xsi:type="File" name="logAll" fileName="${basedir}/logs/all-${shortdate}.log"
              maxArchiveFiles="5" archiveAboveSize="5000000" archiveEvery="Day"
              layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Warn" writeTo="logWarn" />
        <logger name="*" minlevel="Info" maxLevel="Info" writeTo="logInfo" />
        <logger name="*" minlevel="Trace" maxLevel="Debug" writeTo="logAll" />
    </rules>
</nlog>