<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target xsi:type="File" name="logError" fileName="${basedir}/logs/error-${shortdate}.log"
              maxArchiveFiles="30" archiveAboveSize="10000000" archiveEvery="Day"
              layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}" />
      
      <target xsi:type="File" name="logInfo" fileName="${basedir}/logs/info-${shortdate}.log"
              maxArchiveFiles="30" archiveAboveSize="10000000" archiveEvery="Day"
              layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}" />

      <target xsi:type="File" name="logTrace" fileName="${basedir}/logs/trace-${shortdate}.log"
              maxArchiveFiles="30" archiveAboveSize="10000000" archiveEvery="Day"
              layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}" />

      <target xsi:type="Console" name="logConsole"/>
      
    </targets>

    <rules>
        <logger name="*" minlevel="Warn" writeTo="logError" />
        <logger name="*" levels="Info, Debug" writeTo="logInfo" />
        <logger name="*" levels="Info, Debug" writeTo="logConsole" />
        <logger name="*" level="Trace" writeTo="logTrace" />
    </rules>
</nlog>