<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <add key="ThunderHawkModAutoSwitch" value="True" />
      <add key="DesktopNotificationsEnabled" value="True" />
      <add key="LaunchThunderHawkAtStartup" value="False" />
      <add key="IsFirstLaunch" value="True" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <runtime>
      <loadFromRemoteSources enabled="true"/>
    </runtime>
</configuration>
